In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [0]:
fishDf = pd.read_csv('fish_data.csv', usecols=['Age', 'Temp_water', 'Length'])

In [3]:
fishDf.shape

(44, 3)

In [4]:
fishDf.head()

   Age  Temp_water  Length
0   14          25     620
1   28          25    1315
2   41          25    2120
3   55          25    2600
4   69          25    3110

In [5]:
fishDf.corr()

                 Age  Temp_water    Length
Age         1.000000    0.000000  0.879116
Temp_water  0.000000    1.000000 -0.181118
Length      0.879116   -0.181118  1.000000

In [0]:
X = fishDf[['Age','Temp_water']]
y = fishDf['Length']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=101)

In [7]:
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [0]:
predictions = lm.predict(X_test)

In [9]:
lm.coef_

array([  25.83818092, -109.21975425])

In [10]:
lm.score(X_test, y_test)

0.8621695297175425